.container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.select{
    /* border: 5px solid white; */
    width: 100%;
    float: left;
    flex-wrap: wrap;
    padding: 20px;


}

.select select{
    margin-right: 30px;
    margin-left: 30px;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid white;
    color: white;
    background-color: rgba(0, 0, 0, 0.64);
    height: 30px;
}